<div
  role="radiogroup"
  appKeyboardManager
  [attr.aria-labelledby]="id"
  class="button-group"
>
  <label [attr.id]="id" class="label"> {{ label }}</label>
  <button
    role="radio"
    appKeyboardManagedItem (focused)="activate(options.YES)"
    [attr.aria-checked]="value === options.YES"
    [class.button-pressed]="value === options.YES"
    [attr.tabindex]="value === options.YES || value === null ? 0 : -1"
    (click)="activate(options.YES)"
    class="button button-yes"
    type="button"
  >
    Yes
  </button>
  <button
    role="radio"
    appKeyboardManagedItem (focused)="activate(options.NO)"
    [attr.aria-checked]="value === options.NO"
    [class.button-pressed]="value === options.NO"
    [attr.tabindex]="value === options.NO ? 0 : -1"
    (click)="activate(options.NO)"
    class="button button-no"
    type="button"
  >
    No
  </button>
</div>
