<div
  class="button-group"
  role="radiogroup"
  [attr.aria-label]="label">
  <label>{{ label }}</label>
  <div class="radio">
    <input
      [attr.id]="id + '-yes'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === options.YES"
      (change)="activate(options.YES)">
      <label [attr.for]="id + '-yes'" class="button button-yes">
        Yes
      </label>
  </div>
  <div class="radio">
    <input
      [attr.id]="id + '-no'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === options.NO"
      (change)="activate(options.NO)">
      <label [attr.for]="id + '-no'" class="button button-no">
        No
      </label>
  </div>
</div>

<!-- <div
  role="radiogroup"
  appKeyboardManager
  [attr.aria-labelledby]="id"
  class="button-group"
>
  <label [attr.id]="id" class="label"> {{ label }}</label>
  <button
    role="radio"
    appKeyboardManagedItem
    (focused)="activate(options.YES)"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.YES"
    [class.button-pressed]="value === options.YES"
    [attr.tabindex]="value === options.YES || value === null ? 0 : -1"
    (click)="activate(options.YES)"
    class="button button-yes"
    type="button"
  >
    Yes
  </button>
  <button
    role="radio"
    appKeyboardManagedItem
    (focused)="activate(options.NO)"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.NO"
    [class.button-pressed]="value === options.NO"
    [attr.tabindex]="value === options.NO ? 0 : -1"
    (click)="activate(options.NO)"
    class="button button-no"
    type="button"
  >
    No
  </button>
</div> -->
